<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'images/fevicon.png'%}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'style.css'%}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'css/colors.css'%}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.css'%}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css'%}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css'%}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

<style>
         body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register{

  color: #6A1B9A;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}



.tab input:focus{

  border:1px solid #6a1b9a !important;
  outline: none;
}

input.invalid {

    border:1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    background-color: #6A1B9A;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus{

  outline: none !important;
}

#prevBtn {
    background-color: #bbbbbb
}


.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
       height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5;
}

.step.active {
    opacity: 1
}


.step.finish {
   color: #fff;
   background: #6a1b9a;
   opacity: 1;

}



.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
</style>

   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="{% static 'images/logo/logo_icon.png'%}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'images/layout_img/user_img.jpg'%}" alt="#" /></div>
                        <div class="user_info">
                           <h6>John David</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                                            <li><a href="/#"><i class="fa fa-table purple_color2"></i> <span>Home</span></a></li>

                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Accessories</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="/view_accessories">> <span>View Accessories</span></a>
                           </li>
                           <li>
                              <a href="/add_accessories">> <span>Add Accessories</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="/show_car_booking"><i class="fa fa-clock-o orange_color"></i> <span>Booked cars</span></a></li>
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Services</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="/view_services">> <span>View Services</span></a></li>
                           <li><a href="/add_services">> <span>Add Sevices</span></a></li>
<!--                           <li><a href="/Edit_services">> <span>Edit Services</span></a></li>-->
                           <li><a href="/Remove_services">> <span>Remove Services</span></a></li>
                        </ul>
                     </li>
                     <li><a href="/Services_Booing_Show"><i class="fa fa-table purple_color2"></i> <span>Service Book</span></a></li>
                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Cars</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="/view_car">> <span>View Car</span></a></li>
                           <li><a href="/add_car">> <span>Add Car</span></a></li>
<!--                           <li><a href="media_gallery.html">> <span>Remove Car</span></a></li>-->
                        </ul>
                     </li>
<!--                     <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>-->

                     <li>
                        <a href="#Technicians" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase blue1_color"></i> <span>Technicians</span></a>
                        <ul class="collapse list-unstyled" id="Technicians">
                           <li><a href="/view_technicians">> <span>View Technicians</span></a></li>
                           <li><a href="/add_technicians">> <span>Add Technicians</span></a></li>
<!--                           <li><a href="media_gallery.html">> <span>Remove Technicians</span></a></li>-->
                        </ul>
                     </li>

                     <li>
                        <a href="/show_contact">
                        <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                     </li>
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Testimonial </span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="/view_testimonial">> <span>View Testimonial</span></a>
                           </li>
                           <li>
                              <a href="/add_testimonial">> <span>Add Testimonial</span></a>
                           </li>
<!--                           <li>-->
<!--                              <a href="login.html">> <span>Login</span></a>-->
<!--                           </li>-->
<!--                           <li>-->
<!--                              <a href="404_error.html">> <span>404 Error</span></a>-->
<!--                           </li>-->
                        </ul>
                     </li>
<!--                     <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>-->

                     <li>
                        <a href="#datels" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map purple_color2r"></i> <span>Datels</span></a>
                        <ul class="collapse list-unstyled" id="datels">
                           <li><a href="/view_datels">> <span>View Datels</span></a></li>
                           <li><a href="/add_datels">> <span>Add Datels</span></a></li>
<!--                           <li><a href="media_gallery.html">> <span>Remove Technicians</span></a></li>-->
                        </ul>
                     </li>

<!--                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>-->
<!--                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>-->
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="{% static 'images/logo/logo.png'%}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'images/layout_img/user_img.jpg'%}" alt="#" /><span class="name_user">John David</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>



               <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm"method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <h1 id="register">CARS</h1>

                <div class="tab">
                  <h6>Enter your Accessories Name</h6>
                    <p>
                      <input placeholder="" oninput="this.className = ''" name="aname" value="{{data5.aname}}"></p>

                  <h6>Enter your Accessories Price</h6>
                    <p>
                      <input placeholder="" oninput="this.className = ''" name="Price" value="{{data5.Price}}"></p>



                    <div class="input">
                          <label>Current Image:</label><br>
                          {% if data5.img %}
                          <img src="{{data5.img.url}}" alt="Existing Image" style="max-width; 200px;max-height; 200px"><br>
                          {% else %}
                          <p>No image uploaded</p>
                          {% endif %}
                        <br>
                        <h6>Enter your Accessories Image</h6>
				<input type="file" class="input-field" name="img" id="i" value="{{data5.img}}" required/>
				<label for="i">Upload New Image(optional) :</label>
			</div>



<!--				<input type="file" class="input-field" name="img" id="img" required/>-->

                </div>







                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
<!--                      <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa fa-angle-double-left"></i></button>-->
                      <button type="submit" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                           Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/popper.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
      <!-- wow animation -->
      <script src="{% static 'js/animate.js'%}"></script>
      <!-- select country -->
      <script src="{% static 'js/bootstrap-select.js'%}"></script>
      <!-- owl carousel -->
      <script src="{% static 'js/owl.carousel.js'%}"></script>
      <!-- chart js -->
      <script src="{% static 'js/Chart.min.js'%}"></script>
      <script src="{% static 'js/Chart.bundle.min.js'%}"></script>
      <script src="{% static 'js/utils.js'%}"></script>
      <script src="{% static 'js/analyser.js'%}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{% static 'js/custom.js'%}"></script>
      <script src="{% static 'js/chart_custom_style1.js'%}"></script>
<script>
   var currentTab = 0;
              document.addEventListener("DOMContentLoaded", function(event) {


              showTab(currentTab);

              });

              function showTab(n) {
              var x = document.getElementsByClassName("tab");
              x[n].style.display = "block";
              if (n == 0) {
              document.getElementById("prevBtn").style.display = "none";
              } else {
              document.getElementById("prevBtn").style.display = "inline";
              }
              if (n == (x.length - 1)) {
              document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
              } else {
              document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
              }
              fixStepIndicator(n)
              }

              function nextPrev(n) {
              var x = document.getElementsByClassName("tab");
              if (n == 1 && !validateForm()) return false;
              x[currentTab].style.display = "none";
              currentTab = currentTab + n;
              if (currentTab >= x.length) {

              document.getElementById("nextprevious").style.display = "none";
              document.getElementById("all-steps").style.display = "none";
              document.getElementById("register").style.display = "none";
              document.getElementById("text-message").style.display = "block";




              }
              showTab(currentTab);
              }

              function validateForm() {
                   var x, y, i, valid = true;
                   x = document.getElementsByClassName("tab");
                   y = x[currentTab].getElementsByTagName("input");
                   for (i = 0; i < y.length; i++) {
                       if (y[i].value == "") {
                           y[i].className += " invalid";
                           valid = false;
                       }


                   }
                   if (valid) {
                       document.getElementsByClassName("step")[currentTab].className += " finish";
                   }
                   return valid;
               }

               function fixStepIndicator(n) {
                   var i, x = document.getElementsByClassName("step");
                   for (i = 0; i < x.length; i++) {
                       x[i].className = x[i].className.replace(" active", "");
                   }
                   x[n].className += " active";
               }
</script>

   </body>
</html>